* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aquamarine;
}
.container {
    border: 2px solid black;
    width: 90%;
    margin: auto;
    display: flex;
}
.grocerylist {
    border: 1px solid black;
    width: 600px;
    min-height: 100vh;
    margin: auto;
    background: beige;
    box-shadow: 10px 10px 20px 0 gray;
}
img {
    width: 5%;
    height: 5%;
}
.img.deleteitems {
    background-color: aquamarine;
}
.input-text {
    margin-left: 25%;
    padding: 25px;
}
.allItems {
    margin-left: 25%;
    padding: 25px;
}
@media(max-width: 480) {

    .deleteitems {
        width: 2%;
        height: 2%;
    }

    .h2 {
        font-size: auto;
    } 
    .h1 {
        font-size: auto;
    }
    .allItems {
        font-size: 10px;
        margin-left: 25%;
    }
    .input-text {
        margin-left: 15%;
        padding: 25px;
    }
}